/* customized css
/////////////////
///////////////// */
body {
	background-color: #FAFAFA;
}
code {
	color: #6F6A78;
	background-color: #E1E2E6;
}
#sidebar-wrapper i:hover,
#sidebar-wrapper i:focus,
#sidebar-wrapper i:active
 {
	color:#E6E6E6;
}
.btn {
    margin:0.5rem;
}

.clearfloat {
    clear:both;
}
.educationDegree,
.experienceTitle {
	font-weight:bold;
	letter-spacing:0.1rem;
}

.fa-linkedin-blue {
    color:#0e76a8 ;
}

.fa-nav {
    font-size:2.4rem;
    color:#555555;
    padding:0.5rem;
    margin-left:1.05rem;
    margin-right:1.05rem;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
.grey-transparent {
	background-color: rgba(20,30,50,0.55);
	padding: 1.4rem;
	display:inline-block;
	width:auto;
}
.graphicText {
	color: rgba(255,255,255,1);
	text-shadow: 1px 2px 5px #333;
	letter-spacing:0.1rem;
}
/* 
.header h1   , .header h2, .header h3 , .header p{
	color: rgba(255,255,255,1);
	text-shadow: 1px 2px 5px #333;
	letter-spacing:0.1rem;
}
*/

.hr-grey hr { 
    border-top-color:#aaa;
}

i.service-icon {
  border: 0.8rem solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 6rem;
  width: 14rem;
  height: 14rem;
  line-height: 13rem;
  vertical-align: middle; 
  text-align: center;
}

.inline-ul > li {
    float:left;
    margin-right:2.8rem;
}

.margin-center {
	margin:auto;
}

.margin-btm-lrg {
    margin-bottom:4.8rem;
}

.nav-caption {
    color:#555555;
    padding: 0rem 1.4rem;
}
.picturefillDivBG {
    overflow:hidden;
    width:100%;
    height: 100%;
    position:absolute;
    bottom: 0;
    z-index: 0;
}

.picturefillDivBG img, .picturefillDiv img {
    max-width: 100%;
}
.vert-text {
    position:relative;
}


/* Full Page Image Header Area */
.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/background/bg_sf_bay_bridge_small.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
	
.header {
	background: url(../img/background/bg_sf_bay_bridge_small.jpg) no-repeat center center scroll; 
  }
  
  */

  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll; 
  }

}

/* backgrounds setup to change */
.topBG {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
@media screen and (min-width: 569px) {
    .topBG {
        background-image: url(../img/background/bg_sf_bay_bridge_med.jpg);
}
}

@media screen and (min-width: 1100px) {
	.topBG {
	background-image: url(../img/background/bg_sf_bay_bridge_large.jpg);
}
}
*/
