/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   /* From a combination of Photoshop Asset Generation, and Copy CSS for quickest workflow from PSD to HTML */
   /* Styles then edited and hand-coded if needed for minimization and conciseness */
   /* Learn more about new workflow and features at https://helpx.adobe.com/photoshop/how-to/extract-psd-assets-browser.html and https://helpx.adobe.com/photoshop/using/generate-assets-layers.html */
   
   /* Don't hate it till you try it and understand it */
 
/* ///
element styles 
///*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
 
a {
	text-decoration:none;
}

body {
  background-color: rgb( 237, 240, 246 ); /*Photoshop generate assets - copy css outputs spaces in rgb for readability */
  text-align:center;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:28px 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight:300;
  letter-spacing:0.03rem;
}

h1 {
  font-size: 30px;
  color: rgb( 255, 255, 255 );
  font-weight: 500;
  letter-spacing:0.05rem;
  line-height:1.2;
}

/*///
class styles 
///*/

.bgBlue {
  background: url(../img/bg_Blue.png) center center no-repeat rgb( 50, 142, 206 );
  border-radius:8px 8px 0px 0px;
  height:505px;
  padding:0px 60px;
}

.bgBlue p {
  color: rgb( 175, 211, 237 );
  font-weight:100;
}

.bgMessageUsers {
  height: 380px;
  border-bottom:thin solid rgb( 246, 247, 250 );
  padding:0px 60px;
}

.bgMessageUsers ul {
  list-style-position: inside;
  padding-left:0px;
}

.bgMessageUsers li {
  line-height:24px;
  margin-bottom:16px;
}

.bgMessageUsers p, .bgMessageUsers ul, .bgOurCustomers p {
  color: rgb( 122, 131, 137 );
}

.bgOurCustomers {
  height:284px;
  padding: 0px 50px;
}

.button {
  font-size: 18px;
  font-weight:400;
  color: rgb( 255, 255, 255 );
  border-radius: 3px;
  background-color: rgb( 254, 98, 11 );
  padding: 14px 28px;
  width:auto;
  display:inline-block;
  margin-top:24px;
}

/* centerOverlays for image vs HTML comparison */
.centerOverlayParent {
  position: absolute; 
  left: 50%; 
  top:-3px; 
  z-index:900;
}

.centerOverlayChild {
  position: relative; 
  left: -50%; 
  box-shadow:0 0 10px rgba(0,0,0,0.42);
}
/*end centerOverlays */

.column {
  padding:0px 60px;
}

.container {
  width:560px;
  margin: 30px auto;
  border-radius:8px;
  box-shadow: 0.5px 0.866px 3px 0px rgb( 195, 201, 211 );
  background-color:#ffffff;
}

.displayInline {
  display:inline;
}

.displayInlineBlock {
  display:inline-block;
}

.emphasizeQuote {
  font-weight:500;
}

.footerGrey {
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 236, 239, 244 );
  background-color: rgb( 246, 248, 252 );
  border-radius:0 0 8px 8px;
  padding:20px 0px;
}

.footerGrey a {
  font-size: 12px;
  color: rgb( 180, 186, 200 );
  font-weight: bold;
  display:inline-block;
  margin-right:12px;
}

.footerLast {
  font-size: 12px;
  color: rgb( 182, 188, 200 );
}

/* imgToggles for interactive button to overlay image over HTML*/
.imgToggle {
  z-index:999;
  display:none;
}

.imgToggleButton {
  cursor: pointer;
  position:fixed;
  width: 150px;
  top: 50px;
  left: 50px;
  border-radius: 10px;
  border: 2px solid rgb( 238, 238, 238 );
  box-shadow: 1px 1px 3px 1px rgba( 62, 60, 60, 1.00 );
  background-color: rgb( 180, 131, 31 );
  color:rgb( 238, 237, 244 );
  padding: 10px;
  z-index: 910;
}

.imgYesNo{
  position:fixed;
  width: 130px;
  top: 100px;
  left: 61px;
  border-radius: 0 0 10px 10px;
  background-color: rgb( 200, 171, 51 );
  color:rgb( 238, 237, 244 );
  padding: 10px;
  z-index: 910;
}
/*end imgToggle */

.Introducing_Events {
  padding: 25px 0 0 0;
}

.list ul {
  margin:0 auto;
  text-align:center;
}

.logoGrey {
  align: center;
}

.marginTopSmall {
  margin-top:8px;
}

.messageHeadline {
  font-size: 24px;
  color: rgb( 53, 59, 67 );
  line-height: 1.333;
  font-weight:400;
  margin:48px 0 36px 0;
  letter-spacing:0px;
}

.ourCustomersHeadline {
  font-size: 12px;
  color: rgb( 24, 26, 28 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5;
  letter-spacing:0;
  margin-top: 40px;
}

.relative {
  position:relative;
}

.textColorAgora {
  font-size: 14px;
  font-family: "Helvetica Neue";
  color: rgb( 211, 124, 37 );
  line-height: 1.857;
}

/* floated text */
.p-arc-1 {
  position: relative;
  left: -18px;
  top: 248px;
  width:120px;
}

.p-arc-2 {
  position: relative;
  left: 160px;
  top: 36px;
  width:120px;
}

.p-arc-3 {
  position: relative;
  left: 345px;
  top: 120px;
  width:120px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
